@charset "UTF-8";
.header {
  height: 120px;
  width: 100%;
  padding: 20px 5%;
  background-color: #ffbb00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 350px;
  margin-right: 50px;
  background-color: #fff;
  border-radius: 10px;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__item {
  height: 100%;
  margin-left: 30px;
}

.nav__button {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #000;
  font-size: 2.5rem;
  border: #000 1px solid;
  border-radius: 20px;
  padding: 20px;
}

.mainPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 5%;
}

.profile {
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  border: #000 1px solid;
  border-radius: 20px;
}

.profile__edit {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  display: inline-block;
  border: #000 1px solid;
  border-radius: 10px;
  padding: 5px 10px;
}

.TL {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.article {
  padding: 20px 20px;
  border: #000 1px solid;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article:not(:last-child) {
  margin-bottom: 20px;
}

.article p {
  font-size: 2.5rem;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  margin-bottom: 10px;
  position: relative;
}

.article p::before {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: -100px;
}

.article__poster::before {
  content: "投稿者:";
}

.article__shopName::before {
  content: "店名:";
}

.article__txt::before {
  content: "本文:";
}

.article__txt {	
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.article__reaction {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.sideMenu {
  padding: 10px 20px;
  width: 250px;
  border: #000 1px solid;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideMenu__button {
  font-size: 2.4rem;
  display: inline-block;
  padding: 10px 20px;
  border: #000 1px solid;
  border-radius: 10px;
}

.sideMenu__button:not(:last-child) {
  margin-bottom: 20px;
}

.sideMenu__map {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

img {
  width: 100%;
}
/*# sourceMappingURL=mainpage.css.map */